extends templates/_template

include ../components/basket-block/basket-block
include ../components/basket-list/basket-list
include ../components/basket-item/basket-item
include ../components/field-select/field-select
include ../components/field-num/field-num
include ../components/basket-checkout/basket-checkout

block head
    +head(head.defaults)

block header
    +header

block content
    +basket-block
        .basket-block__items
            +basket-list(basketList)

        .basket-block__checkout
            +basket-checkout
            p.basket-block__checkout-text Доступные способы и время доставки можно выбрать при оформлении заказа.


