// Mixins.
/* stylelint-disable */

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: '';
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

// You can add your own mixins here:
@mixin min($val) {
    @media screen and (min-width: $val) {
        @content;
    }
}

// Browser Prefixes
@mixin transform($transforms) {
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    transform: $transforms;
}

// Rotate
@mixin rotate($deg) {
    @include transform(rotate(#{$deg}deg));
}

// Scale
@mixin scale($scale) {
    @include transform(scale($scale));
}

// Translate
@mixin translate($x, $y) {
    @include transform(translate($x, $y));
}

// Skew
@mixin skew($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

// Transform Origin
@mixin transform-origin($origin) {
    -webkit-transform-origin: $origin;
    -moz-transform-origin: $origin;
    -ms-transform-origin: $origin;
    transform-origin: $origin;
}

@mixin focus-shadow {
    box-shadow: 0 0 3px 2px rgba($color-main, 0.2);
}

@mixin field-name {
    display: block;
    margin-bottom: 0.4em;
    line-height: $line-height;
    font-weight: 700;
}

@mixin field-text {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    min-height: calc(
        #{$line-height}em + #{$field-padding-vertical} + #{$field-padding-vertical} + 2px
    ); // Привет, IE
    margin: 0;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: $field-padding-vertical $field-padding-horizontal;
    line-height: $line-height;
    font-size: 1em;
    font-family: inherit;
    background-color: #fff;
    -moz-appearance: textfield;
    appearance: textfield;

    &:focus {
        @include field-focus;
    }

    &[disabled],
    &[readonly] {
        cursor: not-allowed;
        background-color: $gray-lighter;
    }

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration,
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    &[type='color'] {
        padding: 0;
    }

    &::placeholder {
        color: $text-color-muted;
        opacity: 1;
    }
}

@mixin field-focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba($color-main, $opacity);
}

/* stylelint-enable */
