mixin example(data)
    .example
        // Swiper example

        .swiper-container
            .swiper-wrapper
                .swiper-slide Slide 1
                .swiper-slide Slide 2
                .swiper-slide Slide 3
            .swiper-pagination
            .swiper-button-prev
            .swiper-button-next
            .swiper-scrollbar

        //@import 'swiper/dist/css/swiper.min';
        //import 'components/example/example';

        a(href="#") Linkgeslkdxnvcxfjewjrqwertyuiop[asdfghjkl;zxcvbnm,./

        img(src="%=static=%img/assets/example/test.png" alt="alt")

        section(style="background-image: url(%=static=%img/assets/example/test.png)")

        != pugHelpers.Icon.call(locals, {iconName: "airport-ic", className: "airport-ic", iconWidth: "57", iconHeight: "57"})

        input.phone-mask(placeholder="+7(___)___-__-__")

        textarea.textarea

