doctype html
html(class="no-js", lang="ru")

    include ../../components/head/head
    include ../../components/header/header
    include ../../components/example/example
    include ../../components/footer/footer


    head
        block head


    body.page
        |%=symbols=%

        main.page__wrapper

            block content

        .page__footer
            +footer()

        //+modals









        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/separate-js/vendor.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
