.header {
    $block-name: &; // #{$block-name}__element

    height: 118px;
    border-bottom: 1px solid #e9eaec;

    @include min($screen-md) {
        height: 185px;
    }

    &__container {
        @include container();

        display: flex;
        height: 100%;
        align-items: center;
    }
}
